.flexer{
  display: flex;

.imageHolder{
  width: 33vw;
  height: 34vh;
  background-image: asset-url('basketball_game.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.infobox {
  margin-left: 80px;

  .bottominfo{
    display: flex;
  }

.flexwrapper{
display: flex;
}

  img{
    width: 40px;
  }
}



}

.headline{
  display: flex;
  align-items: center;

  img{
    border-radius: 50%;
    width: 40px;
    object-fit: fit;
  }

  .circle {
     display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;

    -moz-border-radius: 40px; /* or 50% */
    border-radius: 40px; /* or 50% */

    background-image: asset-url('icons/user1.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 2em;
  }
}
