
 // That is for the event join post form
.wrapperJoin{
  width: 100vw;
  height: 100vh;
  background-image: asset-url('basketball_game.jpg');
   background-size: cover;
    background-position: center;
    overflow: hidden;
}

 .bgjoinEvent{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.9;
  }

#join_request_skill_level{
 background-color: transparent;
  border:1px solid transparent;
  color: white;
  border-radius: 2px;
  transition: none;
  padding: 0px;
  width: 32%;
}

.positionWrapper{
  width: 100%;
  height: 90%;
  position: absolute;
  display: flex;
  justify-content: center;

  flex-direction: column;
}



.joineventbrn{
            padding: 10px 45px;
            text-align: center;
            border: none;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            border-radius: 10px;
            display: inline-block;
            box-shadow: 0 5px 80px rgba(200, 179, 221, 0.8);
            font-size: 1.4rem;
            background-image: linear-gradient(to right, #7769fe 0%, #bb61ec  51%, #7769fe  100%)
    }



  .joineventbrn:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
   }

// Event Show

.imageEvent-Basketball {
  width: 100%;
  height: 40vh;
  background-image: asset-url("basketball_game.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.imageEvent-Soccer {
  width: 100%;
  height: 40vh;
  background-image: asset-url("soccer_g.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}


.imageEvent-Tennis {
  width: 100%;
  height: 40vh;
  background-image: asset-url("tennis_game.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.imageEvent-Volleyball {
  width: 100%;
  height: 40vh;
  background-image: asset-url("basketball_game.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}


.wrapperShow {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  div {
    flex: 50%;
  }

  img {
    width: 40px;
  }
}

.headline {
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    width: 40px;
    object-fit: fit;
  }

  .circle {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;

    -moz-border-radius: 40px; /* or 50% */
    border-radius: 40px; /* or 50% */

    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 2em;
  }
}

.approved {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #7ef097;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 10px;

  p {
    position: relative;
    top: 7px;
    color: #141316;
    font-size: 10px;
    font-size: bold;
  }
}

.pending {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f0d97e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20px;
  margin-left: 10px;

  p {
    position: relative;
    top: 7px;
    color: #141316;
    font-size: 10px;
    font-size: bold;
  }
}

.playerRequests {
  background-color: transparent;
}

.requests {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e85aff;
  border-radius: 10px;
  position: relative;
  top: -20px;
  margin-left: 10px;

  p {
    position: relative;
    top: 7px;
    color: #141316;
    font-size: 10px;
    font-size: bold;
  }
}


.joinbtn {
  padding: 10px 45px;
  text-align: center;
  border: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 5px 80px rgba(200, 179, 221, 0.8);
  font-size: 1.4rem;
  background-image: linear-gradient(
    to right,
    #7769fe 0%,
    #bb61ec 51%,
    #7769fe 100%
  );
}

.joinbtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.chatbtn {
  padding: 10px 45px;
  text-align: center;
  border: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  box-shadow: 0 5px 80px rgb(247, 239, 255);
  font-size: 1.4rem;
  background-image: linear-gradient(
    to right,
    #67e2e4 0%,
    #b4ec93 51%,
    #67e2e4 100%
  );
}

.chatbtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.acceptbtn {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #7ef097;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  transition: 0.5s;

  &:hover {
    background-color: #276334;
  }
}

.rejectbtn {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f0937e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  transition: 0.5s;
  &:hover {
    background-color: #724035;
  }
}

.userProfileShow {
  display: flex;

  img {
    width: 40px;
    border-radius: 50%;
  }
}

#accepto {
  color: red;
}

.accordion {
  background-color: #141316;
  color: #444;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #141316;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: #141316;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding-top: 20px;
}

.chatbox {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  background-color: #141316;
}

.showchat {
  display: flex;
  align-items: end;
}

#message_content {
  background-color: transparent;
  border: 1px solid #3d4148;
  color: white;
  border-radius: 2px;
  transition: none;
  padding: 4px;
  border-radius: 10px;
}


.hide {
  display: none;
}


.leaveChat{
  position: absolute;
  top: 7vh;
  text-align: right;
  left: 88vw;
  }


  .chatmembers{
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      display: flex;
     align-items: center;
    }
  }

  #messages{
    width: 100%;
    height: 100vh;
    display: flex;
flex-direction: column;
justify-content: end;
  }

#new_message{
  display: flex;
  align-items: center;
}

 .message_content{
    width: 100%;

    .btn{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  }



  .sendbtn{
    background-color: #9657D4;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 16px;
    border-radius: 10px;
  }

  #event_start_time, #event_end_time{
    background-color: transparent;
  border:1px solid transparent;
  color: white;
  border-radius: 2px;
  transition: none;
  padding: 0px;
  }
