.bgEventNew{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: asset-url('backgrounds/create.jpg');
}

.vantaBG{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
}

#new_event {
  position:relative;
  z-index:1000;
}

#event_name, #event_category, #event_capacity, #event_location, #event_description, #event_skill_level, #event_start_time_1i, #event_start_time_2i, #event_start_time_3i,  #event_start_time_4i, #event_start_time_5i, #event_end_time_1i, #event_end_time_2i, #event_end_time_3i,  #event_end_time_4i, #event_end_time_5i{
  background-color: transparent;
  border:1px solid transparent;
  color: white;
  border-radius: 2px;
  transition: none;
  padding: 0px;
}

select option {

 background: black;
 border: transparent;
 font-size: 20px;
 font-family: 'Maven Pro', sans-serif;

  }
