<h2>Requests</h2>
<%= link_to "(accept ✅)", accept_booking_path(@booking), method: :patch, style: "color:white;" %>
<%= link_to "(reject ❌)", reject_booking_path(@booking), method: :patch, style: "color:white;" %> <%#= by default link is get request, need to make this patch %>
