<%= render "shared/navbar" %>
<%= render "chatroom", coming_ajax: params[:coming_ajax] %>

<%# API bit for weather, insert into code where weather will be displayed %>
<div id="weather" data-lon="<%= @event.longitude %>" data-lat="<%= @event.latitude %>"></div>
