<div class="home">
<%= render "shared/navbar_home" %>
 <canvas class="bgCanvas" width='1000px' height='1200px'></canvas>

  <div class="wrapper_home">
    <div class="container">
      <div class="row">
        <div class="col-10">
        <hr class="home_line" style="margin-bottom: 40px;">
          <h1 class="display-4">Make your neighbourhood<br>
          your playground!</h1>
          <h4 class="mt-5">An app for city newbies, couch potatoes and hobby athletes<br>
          to meet new friends through the sports you love</h4>
          <%# <h4 class="mt-5">Your game is only one click away:</h4> %>
          <%= link_to 'Join', new_user_session_path, class:"homebutton mt-5 animate__animated animate__fadeIn animate__slower" %>
        </div>
      </div>
    </div>
  </div>

</div>
