<div class="home">
<%= render "shared/navbar_home" %>
 <canvas class="bgCanvas" width='1000px' height='1200px'></canvas>

  <div class="wrapper_home">
    <div class="container">
      <div class="row">
        <div class="col-10">
        <hr class="home_line">
          <h1 class="display-4">Active Friends<br>
          Anytime Everywhere</h1>
          <h4 class="mt-5">An app for city newbies, couch potatoes and hobby athletes who like to spontaneously dive in into their favorite sport activies with like minded strangers. Your game is always only one click away. Make your neighbourhood your playground!</h4>
          <%= link_to 'Join', new_user_session_path, class:"homebutton mt-5 animate__animated animate__fadeIn animate__delay-2s" %>
        </div>
      </div>
    </div>
  </div>

</div>
