// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Log In
.bgLogIn{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: asset-url('backgrounds/login.jpg');
  overflow: hidden;
  background-size: cover;
  background-position: center;

}

.wrapper_login{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

#user_email, #user_password{
  background-color: transparent;
  border:1px solid transparent;
  color: white;
  border-radius: 2px;
  transition: none;
  padding: 0px;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0);
}

hr {
  border: 1px solid white;
  width:30%;
  text-align:left;
  margin-left:0;
  border-radius: 5px;
  margin-top: -10px;
}

label {
   color: rgba(255, 255, 255, 0.666);
}


.btn-grad-login {background-image: linear-gradient(to right, #7769fe 0%, #bb61ec  51%, #7769fe  100%)}

.btn-grad-login {
            padding: 0px 45px;
            text-align: center;
            border: none;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            border-radius: 5px;
            display: block;
            box-shadow: -10px 5px 190px rgb(247, 239, 255);
    }

  .btn-grad-login:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
   }

   #user_remember_me{
     border-radius: 10px;
     border: none;
   }

   // Media Query Form Log In

   @media (max-width: 576px) {
     hr {
       width:80%;
     }
    }
